/* larger canvas, spectrum + EQ visualization and other items */

.ui360-vis,
.ui360-vis .sm2-360ui
{
 /* size of the container for the circle, etc. */
 width:256px;
 height:256px;

}

.ui360-vis {
 position:relative;
 /* a little extra spacing */
 padding-top:1px;
 padding-bottom:1px;
 margin-bottom:-18px; /* approximate "line height" we want */
 margin-left:0px;
 background-position:22.6% 50%; /* (~109px) initial play button position */
}

.ui360-vis a {
 font:14px "helvetica neue",helvetica,monaco,lucida,terminal,monospace;
 white-space:nowrap;
 text-indent:0px; /* undo inline style */
 top:46%; /* ehh. */

}


.ui360-vis .sm2-timing {
 font:bold 24px "helvetica neue",helvetica,monaco,lucida,terminal,monospace;
 color:#fff;
 text-align:center;
 line-height:256px;
 text-indent:0px;
}

/* Use a bigger loading image for this layout */

.ui360-vis .sm2-360btn,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn,
.ui360-vis .sm2-360ui.sm2_playing .sm2-360btn {
 width:48px;
 height:48px;
 margin-left:-24px;
 margin-top:-24px;
 border-radius: none;

}

.ui360-vis,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn,
.ui360-vis .sm2-360btn-default {
 background:transparent url(../img/360-button-vis-play.png) no-repeat 50% 50%;
  *background-image:url(../img/360-button-vis-play.png);
 _background:transparent url(../img/360-button-vis-play.gif) no-repeat 50% 50%;
 cursor:pointer;

}

.ui360-vis:hover .sm2-360btn,
.ui360-vis .sm2-360btn-default:hover,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn:hover {
 background:transparent url(../img/360-button-vis-play-light.png) no-repeat 50% 50%;
 _background:transparent url(../img/360-button-vis-play.gif) no-repeat 50% 50%;
 cursor:pointer;
}


.ui360-vis .sm2-360ui.sm2_playing .sm2-360btn:hover,
.ui360-vis .sm2-360btn-playing:hover {
 background:transparent url(../img/360-button-vis-pause-light.png) no-repeat 50% 50%;
 _background:transparent url(../img/360-button-vis-pause-light.gif) no-repeat 50% 50%;
 cursor:pointer;
}

.ui360-vis {
 /* non-JS / before-loaded state */
 background-position: 21% 50%;
 _background:transparent url(../img/360-button-vis-play.gif) no-repeat 21% 50%; /* IE 6-only: special crap GIF */
}

.ui360-vis .sm2-360btn-default {
 /* real button, post-loaded state */
 _background:transparent url(../img/360-button-vis-play.gif) no-repeat 50% 50%; /* IE 6-only: special crap GIF */
}

.ui360-vis .sm2-360ui.sm2_dragging .sm2-360btn {
 visibility: hidden;
}





