body { color: #000; background-color: #d3d3d3; padding: 1em; font: normal normal normal 0.8em verdana, arial, helvetica, sans-serif; }
a, img { margin: 0px; padding: 0px; border: 0px; }
a:link, a:visited { color: #323232; text-decoration: none; }
a:hover, a:focus { color: #666666; text-decoration: underline; }
a:active { color: #f00; text-decoration: none; }
ol, ul { list-style-type: none; padding: 0.4em; }
li { padding: 0.4em; }
address { float: right; }
footer { font-size: smaller; }
nav ul, nav li { display: inline; }
input, textarea { color: #000; font-family: Courier, monospace; }
